


.g {
    stroke: none; 
    stroke-width: 0;
    stroke-dasharray: none; 
    stroke-linecap: butt; 
    stroke-linejoin: miter; 
    stroke-miterlimit: 10; 
    fill: none; 
    fill-rule: nonzero; 
    opacity: 1;
    transform: translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)
}

.d1 {
    stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; 
    /* fill: rgb(64,89,107);  */
    fill: rgb(218, 225, 230); 
    fill-rule: nonzero; opacity: 1;
    transform:matrix(1 0 0 1 0 0);
    stroke-linecap: round;
}

.d2 {
    stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; 
    /* fill: rgb(64,89,107);  */
    fill: rgb(218, 225, 230); 
    fill-rule: nonzero; opacity: 1;
    transform:matrix(1 0 0 1 0 0);
    stroke-linecap:round
}

.circle1{
    stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; 
    /* fill: rgb(64,89,107);  */
    fill: rgb(218, 225, 230); 
    fill-rule: nonzero; opacity: 1;
    transform: matrix(1 0 0 1 0 0);
}

.circle2{
    stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; 
    /* fill: rgb(64,89,107);  */
    fill: rgb(218, 225, 230); 
    fill-rule: nonzero; opacity: 1; 
    transform:matrix(1 0 0 1 0 0);
}

.d3 {
    stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; 
    fill: rgb(231,78,58); 
    fill-rule: nonzero; opacity: 1;
    transform: matrix(1 0 0 1 0 0) ;
    stroke-linecap:round;
}