.cart-button {
    padding: 1rem;
    background-color: #172;
    color:#FFF;
    font-size: 1rem;
    font-weight: 100;
    border-radius: 1rem;
}

.cart-button button {
    margin: 0 0 0 1rem;
    font-size: 1rem;
    border: 2px solid black;
}

.cart-button:hover {
    transform: scale(1.02);
}

.cart-button button:active,
.cart-button button:hover {
    transform: scale(1.1);
    border: 2px solid rgba(200,0,0,.7);
}