.meals{
    margin: 0 0 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #172;
}

.input-form {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.input-form input {
    margin: 0 1rem;
    width: 5rem;
    padding: 0.1rem 0.2rem;
    font-size: 1rem;
}

.form-button {
    margin: 1rem 0 0;
    text-transform: uppercase;
    font-size: 1rem;
    padding: 0 1rem;
    border: 1px solid transparent;
    border-radius: 1rem;
    width:auto;
    color: #FFF;
    background-color: #172;
}

.form-quantity:active,
.form-quantity:hover,
.form-quantity:focus{
    outline: none;
    border: 2px solid rgba(0,200,0,.7);
}


.form-button:active,
.form-button:hover {
    transform: scale(1.05);
    border: 1px solid rgba(0,200,0,.1);
}