.modal-overlay {
    background: rgba(36, 76, 220, 0.5);
    position : fixed;
    top: 0;
    left: 0;
    right:0;
    bottom:0;
    height: 100vh;
    width: 100%;
}



.modal-class {
    background: rgb(256, 256, 256);
    color:rgba( 0,0,0, .9);
    position: absolute;
    top: 50%;
    left: 50%;
    /* overflow:scroll; */
    height:20rem;
    padding: 3rem;
    width:50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    border-radius: 1rem;
}

/* .modal-class {
    background: rgb(256, 256, 256);
    color:rgba( 0,0,0, .9);
    position: absolute;
    top: 50%;
    left: 50%;
    height:40rem;
    width:50%;
    transform: translate(-50%, -50%);
} */